html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

p {
	display: inline;
}

.game {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
	background-image: url("../assets/ti-84.svg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: border-box;
	margin: 0 auto;
	min-width: 500px;
	min-height: 600px;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.3);
}

#hatch {
	margin-top: 110px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 10px 3px grey inset;
	-moz-box-shadow: 0px 0px 10px 3px grey inset;
	box-shadow: 0px 0px 10px 3px grey inset;
	height: 238px;
	width: 350px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

#modal-content {
    background-color: #fefefe;
    margin: 7% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 250px;
		height: 60%;
		-webkit-animation-name: pause;
		-webkit-animation-duration: 0.1s;
		animation-name: pause;
		animation-duration: 0.1s;
}

@-webkit-keyframes pause {
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes pause {
	from {opacity: 0}
	to {opacity: 1}
}


.score-block{
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}

.pause-screen{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.buttons{
	display: flex;
	-webkit-display: flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}

.left {
	width: 100%;
	top: 0px;
	bottom: 0px;
	z-index: 1;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	opacity: 0.3;
	background-color: black;
}

.right {
	width: 100%;
	top: 0px;
	bottom: 0px;
	opacity: 0.3;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	background-color: black;
}

.main {
	display: -webkit-flex;
	display: flex;

	width: 100%;
	height: 100%;
	background-color: white;
	margin: 0 auto;
}

body {
	font-family: 'Crete Round', serif;
	height: 100%;
}

html {
	height: 100%;
}

.instructions {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	border-radius: 5px;
	-webkit-box-shadow: 2px 1px 1px 11px grey;
	-moz-box-shadow: 2px 1px 1px 1px grey;
	border: 0.5px solid grey;
	box-shadow: 2px 1px 1px 1px grey;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 40px 20px;
	background-color: rgba(0,0,0, 0.7);
	color: white;
}

h2 {
	margin: 10px;
	font-size: 200%;
}

.instructions li {
	margin: 5px;
}

.arrows {
	padding-bottom: 5px;
	border-bottom: 1px solid grey;
}

.arrows p:first-of-type, .arrows p:last-of-type{
	font-size: 180%;
	animation-name: Floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.keys p:first-of-type, .keys p:last-of-type {
	font-size: 140%;
}

.break {
	padding-bottom: 30px;
}

.paused, .game-over, .new-game {
	display: none;
}

.paused > h2, .game-over > h2, .new-game >h2 {
	margin-bottom: 150px;
}

.start {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	text-align: center;
}

.start p {
	margin: 10px;
}

.pause-screen > div {
	text-align: center;
}

.right .instructions {
	padding: 25px;
}


.right .instructions > li {
	font-size: 140%;
}
